@import "fonts.scss";

$md1: 1300px;
$md2: 800px;
$md3: 500px;

$font-family-os: 'Open Sans', sans-serif;
$font-family-rob-cons: 'Roboto Condensed', sans-serif;
$font-family-rob-flex: 'Roboto Flex', sans-serif;
$font-family-rob-serif: 'Roboto Serif', sans-serif;